<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <style type="text/css">
      @font-face {
        font-family: Univers;
        src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2144/UniversLTStd-BlackEx.otf);
        font-style: normal;
        font-weight: 900;
        font-stretch: expanded;
      }
      @font-face {
        font-family: Univers;
        src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2144/UniversLTStd-BoldEx.otf);
        font-style: normal;
        font-weight: 700;
        font-stretch: expanded;
      }

      body {
        margin: 0;
      }

      .flex {
        display: flex;
      }


      .controls {
        position: fixed;
        top: 16px;
        left: 16px;
        font-family: 'Univers LT Std';
        padding: 16px;
        border: 2px solid #000;
        background-color: #fff;
        box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.25);
        z-index: 2;
      }
            
      .receipt-wrapper {
        margin: 16px auto;
        padding: 16px;
        background-color: white;
        overflow-x: hidden;
        width: 384px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      }

      .hidden {
        display: none;
      }
      
      #receipt {
        width: 384px;
        font-size: 24px;
        font-family: 'Univers LT Std';
        overflow: hidden;
      }
      #receipt .timestamp {
        font-family: 'Roboto Mono', monospace;
        font-size: 0.7em;
        margin-bottom: 2em;
      }
      #receipt h1 {
        font-family: 'Univers';
        font-size: 42px;
        font-weight: 900;
        font-stretch: expanded;
        margin: 0;
        line-height: 1em;        
      }
      #receipt hr {
        display: block;
        border: 0;
        margin: 1.5em 0;
      }
      #receipt hr:after {
        content: '';
        display: block;
        background-image: url(https://cdn.glitch.com/18841172-55bf-4813-92ca-57b109da65a3%2Fsquiggle.png?v=1589084986345);
        background-size: contain;
        height: 24px;
        overflow: hidden;
      }
      #receipt blockquote {
        margin-left: 0.5em;
        padding-left: 1em;
        border-left: 4px solid #ccc;
      }
      #receipt h6 {
        font-size: 0.7em;
        font-family: 'Univers';
        font-stretch: expanded;
        margin: 0;
        color: #999;
      }
      #receipt h4 {
        font-family: 'Univers';
        font-stretch: expanded;
        font-weight: 700;
      }
      #receipt h6 + h4 {
        margin-top: 0.2em;
      }      
      #customMessage {
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <div class="flex">
      <div class="controls">
        
        <div id="toggles">
          <input type="checkbox" id="toggle-customMessage" name="customMessage" />
          <label for="toggle-customMessage">custom message</label>
          <div class="customMessage hidden">
            <textarea id="input-customMessage">hello, friend</textarea>
          </div>
          <br />
          {{#each entries }}
            <input type="checkbox" id="toggle-{{this.partialName}}" name="{{this.partialName}}" checked />
            <label for="toggle-{{this.partialName}}">@{{this.handle}}</label>
            <br />
          {{/each}}   
        </div>

        <br />
        <label for="printerUrl">printer key</label>
        <input type="text" placeholder="device.li" id="printerUrl" />
        <br />
        <button id="status">
          check printer
        </button>
        <button id="print">
          print
        </button>
        <pre id="printerStatus"></pre>
      </div>

      <div class="receipt-wrapper">
        <div id="receipt">
          <h1>deep web transmissions</h1>

          <div class="entry customMessage hidden">
            <hr />
            <div id="customMessage">hello, friend</div>
          </div>

          {{#each entries }}
            <div class="entry {{this.partialName}}">
              <hr />
              {{>(lookup . 'partialName') entry=this}}          
            </div>
          {{/each}}
        </div>
      </div>
    </div>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
        integrity="sha256-c9vxcXyAG4paArQG3xk6DjyW/9aHxai2ef9RpMWO44A=" crossorigin="anonymous"></script>
      <script src="/script.js"></script>
  </body>
</html>
