<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
      @font-face {
        font-family: Univers;
        src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2144/UniversLTStd-BlackEx.otf);
        font-style: normal;
        font-weight: 900;
        font-stretch: expanded;
      }
      @font-face {
        font-family: Univers;
        src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2144/UniversLTStd-BoldEx.otf);
        font-style: normal;
        font-weight: 700;
        font-stretch: expanded;
      }

      body {
        margin: 0;
      }
      
      .controls {
        position: fixed;
        top: 16px;
        left: 16px;
        font-family: 'Univers LT Std';
      }
      
      .controls button {
        font-family: 'Univers LT Std';
      }
      
      .receipt-wrapper {
        margin: 16px auto;
        padding: 16px;
        background-color: white;
        overflow-x: hidden;
        width: 384px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      }

      #receipt {
        width: 384px;
        font-size: 24px;
        font-family: 'Univers LT Std';
        overflow: hidden;
      }
      #receipt .timestamp {
        font-family: 'Roboto Mono', monospace;
        font-size: 0.7em;
        margin-bottom: 2em;
      }
      #receipt h1 {
        font-family: 'Univers';
        font-size: 42px;
        font-weight: 900;
        font-stretch: expanded;
        margin: 0;
        line-height: 1em;
        padding-bottom: 0.5em;
      }
      #receipt hr {
        display: block;
        border: 0;
        margin-bottom: 2em;
      }
      #receipt hr:after {
        content: '-----------------';
        display: block;
        font-size: 1.42em;
        margin-top: -0.5em;
        color: #fff;
        text-decoration: underline;
        text-decoration-color: #999;
        text-decoration-style: wavy;
        transform-origin: bottom left;
        transform: scale(2) translateX(0.05em);
        overflow: hidden;
      }
      #receipt .entry:not(.hidden):last-child hr {
        display: none;
      }
      #receipt blockquote {
        margin-left: 0.5em;
        padding-left: 1em;
        border-left: 4px solid #ccc;
      }
      #receipt h6 {
        font-size: 0.7em;
        font-family: 'Univers';
        font-stretch: expanded;
        margin: 0;
        color: #999;
      }
      #receipt h4 {
        font-family: 'Univers';
        font-stretch: expanded;
        font-weight: 700;
      }
      #receipt h6 + h4 {
        margin-top: 0.2em;
      }
      #hidden {
        border: 1px solid red;
/*         display: none; */
      }
      
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js" integrity="sha256-c9vxcXyAG4paArQG3xk6DjyW/9aHxai2ef9RpMWO44A=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="controls">
      <div id="toggles">
        {{#each entries }}
          <input type="checkbox" id="toggle-{{this.partialName}}" name="{{this.partialName}}" checked />
          <label for="toggle-{{this.partialName}}">
            @{{this.handle}}
          </label>
          <br />
        {{/each}}          
      </div>
      <br />
      <label for="printerUrl">printer key</label>
      <input type="text" placeholder="device.li" id="printerUrl" value="https://device.li/m87n40ldpj5obc9fle1v" />
      <button id="print">
        print
      </button>
      <pre id="printResult"></pre>      
    </div>
    <div id="hidden">
      
    </div>
    <div class="receipt-wrapper">
      <div id="receipt">
        <!-- <div class="timestamp">{{ timestamp }}</div> -->
        <h1>deep web transmissions</h1>
        <hr />

        {{#each entries }}
          <div class="entry {{this.partialName}}">
            {{>(lookup . 'partialName') entry=this}}          
            <hr />
          </div>
        {{/each}}

      </div>
    </div>
    <script type="text/javascript">
      const receiptContainer = document.getElementById('receipt');
      const hiddenContainer = document.getElementById('hidden');
      document.querySelectorAll('#toggles input').forEach((input) => {
        input.addEventListener('change', (event) => {
          const {name, checked} = event.target;
          const entry = document.querySelector(`.${name}`);
          if (checked) {
            const index = entry.dataset.index;
            const previousElement = receiptContainer[index + 1]
            receiptContainer.insertBefore(entry, previousElement);
          } else {
            const index = Array.prototype.indexOf.call(receiptContainer.children, entry);
            hiddenContainer.appendChild(entry);
            entry.dataset.index = index;
            console.log(entry, entry.dataset)
          }
        })
      });
      
      const button = document.getElementById('print');
      button.addEventListener('click', (event) => {
        const input = document.getElementById('printerUrl');
        if (!input.value) {
          return;
        }
        
        const url = input.value;
        const receiptElement = document.getElementById('receipt');
        
        domtoimage.toBlob(receiptElement, {width: 384}).then((blob) => {
          fetch(url, {
            method: 'POST',
            headers: {
              'Content-Type': 'image/png',
            },
            body: blob,
          }).then((response) => {
            if (!response.ok) {
              throw new Error(response.statusText);
            }
            return response.json();
          }).then((json) => {
            document.getElementById('printResult').innerText = JSON.stringify(json);
          });
        });
      });
    </script>
  </body>
</html>
